{% extends 'base.html.twig' %}

{% block title %}
    Kategorie
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Kategorie</h1>
            {% if data is defined and data|length %}
                <div class="list-group">
                    {% for category in data %}
                        <a href="{{ url('category_view', {'id': category.id}) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Brak kategorii.</p>
            {% endif %}
        </div>
    </div>
    {% if is_granted('MANAGE') %}
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{{ url('category_new') }}">Dodaj kategorię</a>
                    {% if not ( data is defined and data|length ) %}
                        <a class="btn btn-outline-danger" href="{{ url('category_delete', {'id': item.id}) }}">Usuń</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
