{% extends 'base.html.twig' %}

{% block title %}
	Your info
{% endblock %}

{% block body %}
	<p>
		<strong>Name:</strong> {{ customer.name }} {{ customer.surname }}<br />
		<strong>Email:</strong> {{ customer.email }}<br />
		<a class="btn btn-primary" href="{{ url('customer_edit') }}">Edit</a>
	</p>
{% endblock %}
